body {
    background-color: rgb(242, 213, 218);
    color: rgb(49, 29, 29);
}

h1 {
    color: rgb(79, 76, 76);
    text-align: center;    
    font-family: 'Playpen Sans', cursive;

}
/* font-family: Verdana, Arial, "sans-serif";
